In [8]:
import pandas as pd

In [4]:
#Criando dataframes
df_complet = pd.read_csv('data\df_complet.csv')
df_complet_copy_0 = pd.read_csv('data\df_complet_copy_0.csv')
df_complet_copy = pd.read_csv('data\df_complet_copy.csv')

In [5]:
df_complet.head()

,Date,Store,Temperature,Fuel_Price,Unemployment,IsHoliday,CPI,Sales
0,2010-02-05,1,42.31,2.572,8.106,False,211.096358,1643690.90
1,2010-02-12,1,38.51,2.548,8.106,True,211.242170,1641957.44
2,2010-02-19,1,39.93,2.514,8.106,False,211.289143,1611968.17
3,2010-02-26,1,46.63,2.561,8.106,False,211.319643,1409727.59
4,2010-03-05,1,46.50,2.625,8.106,False,211.350143,1554806.68